<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HHPhotoBroswerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8619C1531BB254A80005B164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8619C16C1BB254A80005B164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8619C1771BB254A80005B164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
